# Bate - RC Assignment 2

## Part 1: Lists and Loops

### 1) Create a list with the names of every planet in the solar system (in order)

In [48]:
l = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
l

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### 2) Have Python tell you how many planets there are by examining your list

In [49]:
n = len(l)
n

8

### 3) Use slicing to display the first four planets (the rocky planets)

In [50]:
rocky = l[:4]
rocky

['Mercury', 'Venus', 'Earth', 'Mars']

### 4) Iterate through your planets and print the planet name only if it has an s at the end

In [51]:
for i in range(n):
    planet = l[i]
    n = len(planet)
    lastLet = planet[n-1]
    if lastLet == 's':
        print(planet)

Venus
Mars
Uranus

## Part II: Dictionaries

### 1) Now create a dictionary that maps each planet name to its mass

In [52]:
pm =[]
masses = [0.330, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102] # 10^24 kg

for i in range(n+1):
    pm.append(dict(name=l[i],mass=masses[i]))

pm

# pm2 = {name= 'Mercury',mass= 0.33}
# print(pm2)

[{'name': 'Mercury', 'mass': 0.33},
 {'name': 'Venus', 'mass': 4.87},
 {'name': 'Earth', 'mass': 5.97},
 {'name': 'Mars', 'mass': 0.642},
 {'name': 'Jupiter', 'mass': 1898},
 {'name': 'Saturn', 'mass': 568},
 {'name': 'Uranus', 'mass': 86.8},
 {'name': 'Neptune', 'mass': 102}]

### 2) Use your dictionary to look up Earth’s mass

In [53]:
# pm.rfind('Earth')
for i in range(n+1):
    line = pm[i]
    if line['name'] == 'Earth':
        print('The mass of the Earth is', line['mass'], 'x 10^24 kg.')

# pm[3]['name'] -> Why can't I do this in my loop?

The mass of the Earth is 5.97 x 10^24 kg.

### 3) Loop through the data and create a list of planets whose mass is greater than 100 x 10^24 kg

In [54]:
heavy = []
for i in range(n+1):
    if pm[i]['mass'] >= 100:
        heavy.append(pm[i])

heavy

[{'name': 'Jupiter', 'mass': 1898},
 {'name': 'Saturn', 'mass': 568},
 {'name': 'Neptune', 'mass': 102}]

### 4) Now add pluto to your dictionary

In [55]:
pm.append(dict(name='Pluto', mass=0.0130))
pm

[{'name': 'Mercury', 'mass': 0.33},
 {'name': 'Venus', 'mass': 4.87},
 {'name': 'Earth', 'mass': 5.97},
 {'name': 'Mars', 'mass': 0.642},
 {'name': 'Jupiter', 'mass': 1898},
 {'name': 'Saturn', 'mass': 568},
 {'name': 'Uranus', 'mass': 86.8},
 {'name': 'Neptune', 'mass': 102},
 {'name': 'Pluto', 'mass': 0.013}]

## Part III: Functions

### 1. Write a function to convert temperature 1) from Kelvin to Celsius and 2) from Celsius to Kelvin

In [56]:
def KtoC(TK):
    """Convert temperature from Kelvin to Celsius"""
    return round(TK - 273, 1)

def CtoK(TC):
    """Convert temperature from Celsius to Kelvin"""
    return round(TC + 273, 1)

### 2. Write a function to convert temperature to Fahrenheit

In [57]:
def TtoF(T, Kelvin=False):
    """ Convert temperature from either Celsius or Kelvin to Fahrenheit """
    if Kelvin:
        TF = (KtoC(T)*9/5)+32 # ((T-273)*9/5)+32
    else:
        TF = (T*9/5)+32
    return round(TF,1)

### 3. Check that the outputs are sensible by trying a few examples

In [58]:
# K to C
TK = 97.0
print(TK, 'K is', KtoC(TK), 'C.')

# C to K
TC = -20.0
print(TC, 'C is', CtoK(TC), 'K.')

# C to F
T = -25.3
print(T, 'C is', TtoF(T), 'F.')

# K to F
T = 170.1
print(T, 'K is', TtoF(T, Kelvin=True), 'F.')

97.0 K is -176.0 C.
-20.0 C is 253.0 K.
-25.3 C is -13.5 F.
170.1 K is -153.2 F.

### 4. Now write a function that converts from Fahrenheit

In [59]:
def FtoT(TF, Kelvin=False):
    """ Converts from Fahrenheit to either Celsius or Kelvin """
    if Kelvin:
        T = CtoK((TF-32)*5/9)
        unit = 'K'
    else:
        T = (TF-32)*5/9
        unit = 'C'

    return [round(T,1), unit]

TF = 22.0 # F

# want in Celsius
print(TF,'F is', FtoT(TF)[0], FtoT(TF)[1],'.')

# want in Kelvin
print(TF, 'F is', FtoT(TF, Kelvin=True)[0],FtoT(TF, Kelvin=True)[1],'.')

22.0 F is -5.6 C .
22.0 F is 267.4 K .

### 5. Write a function that takes two arguments (feet and inches) and returns height in meters

In [60]:
def impToMet(ft, ins):
    """ Converts height units from feet and inches to meters - note: no rounding in function to preserve precision """
    ft = ft + ins/12
    m = 0.3048*ft
    return m

### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [61]:
def metToImp(m):
    """ Converts height units from meters to feet and inches - note: no rounding in function to preserve precision """
    ft = m//0.3048
    ins = (m/0.3048 - ft)*12
    return ft, ins

### 7. Verify that the “round trip” conversion from and back to meters is consistent

In [62]:
# Check for 3 different values of height in meters

# Height 1
h1 = 1.6097
print('Input height in meters is', round(h1,2),'m (raw input:',h1,'m).')

h1imp = metToImp(h1)
print('Input height in feet and inches is', round(h1imp[0]),'ft', round(h1imp[0],1),'in.')

h1met = impToMet(h1imp[0],h1imp[1])
print('Output height in meters is', round(h1met,2), 'm (raw output:', h1met,'m).')

Input height in meters is 1.61 m (raw input: 1.6097 m).
Input height in feet and inches is 5 ft 5.0 in.
Output height in meters is 1.61 m (raw output: 1.6097 m).

In [63]:
# Height 2
h2 = 1.73
print('Input height in meters is', round(h2,2),'m (raw input:',h2,'m).')

h2imp = metToImp(h2)
print('Input height in feet and inches is', round(h2imp[0]),'ft', round(h2imp[0],1),'in.')

h2met = impToMet(h2imp[0],h2imp[1])
print('Output height in meters is', round(h2met,2), 'm (raw output:', h2met,'m).')

Input height in meters is 1.73 m (raw input: 1.73 m).
Input height in feet and inches is 5 ft 5.0 in.
Output height in meters is 1.73 m (raw output: 1.73 m).

In [64]:
# Height 3
h3 = 1.818
print('Input height in meters is', round(h3,2),'m (raw input:',h3,'m).')

h3imp = metToImp(h3)
print('Input height in feet and inches is', round(h3imp[0]),'ft', round(h3imp[0],1),'in.')

h3met = impToMet(h3imp[0],h3imp[1])
print('Output height in meters is', round(h3met,2), 'm (raw output:', h3met,'m).')

Input height in meters is 1.82 m (raw input: 1.818 m).
Input height in feet and inches is 5 ft 5.0 in.
Output height in meters is 1.82 m (raw output: 1.818 m).